<body>
    <div id="header">
        <div id="container" class="col">
                <div id="center" class="column">
                    test
                </div>
                <div id="left" class="column">
                    test
                </div>
                <div id="right" class="column">
                    test
                </div>
                <!-- <div id="center2" class="column"> not sure if it should be used
                    test
                </div> -->
        </div>
     </div>

     <div id="footer">

     </div>
</body>
